.cartItem {
  min-height: 190px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

.cartItem:nth-child(even) {
  background-color: rgb(237, 237, 237);
}

.imgBox {
  display: flex;
  align-items: center;
  width: 45%;
  gap: 30px;
}

.controls {
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 45%;
  gap: 30px;
}

.controls .amount {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 33%;
}

.amount button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.amount p {
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px 30px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 50px;
  width: 66%;
}

.productTotal {
  font-size: 1.4rem;
  margin-top: 5px;
}

.price button {
  font-size: 2.4rem;
  cursor: pointer;
}

.info {
  max-width: 40%;
}

.info h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

.image {
  width: 150px;
  height: 130px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
